:root, [data-bs-theme=light] {
  --bs-primary: #103d5b;
  --bs-primary-rgb: 16,61,91;
  --bs-primary-text-emphasis: #061824;
  --bs-primary-bg-subtle: #CFD8DE;
  --bs-primary-border-subtle: #9FB1BD;
  --bs-secondary: #0a2738;
  --bs-secondary-rgb: 10,39,56;
  --bs-secondary-text-emphasis: #041016;
  --bs-secondary-bg-subtle: #CED4D7;
  --bs-secondary-border-subtle: #9DA9AF;
  --bs-light: #3398db;
  --bs-light-rgb: 51,152,219;
  --bs-light-text-emphasis: #143D58;
  --bs-light-bg-subtle: #D6EAF8;
  --bs-light-border-subtle: #ADD6F1;
  --bs-body-color: #d4e9f7;
  --bs-body-color-rgb: 212,233,247;
  --bs-secondary-color: rgba(212,233,247,0.75);
  --bs-secondary-color-rgb: 212,233,247,0.75;
  --bs-tertiary-color: rgba(212,233,247,0.5);
  --bs-tertiary-color-rgb: 212,233,247,0.5;
  --bs-body-bg: #02090d;
  --bs-body-bg-rgb: 2,9,13;
}

.btn-primary {
  --bs-btn-color: #fff;
  --bs-btn-bg: #103d5b;
  --bs-btn-border-color: #103d5b;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #0E344D;
  --bs-btn-hover-border-color: #0D3149;
  --bs-btn-focus-shadow-rgb: 219,226,230;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #0D3149;
  --bs-btn-active-border-color: #0C2E44;
  --bs-btn-disabled-color: #fff;
  --bs-btn-disabled-bg: #103d5b;
  --bs-btn-disabled-border-color: #103d5b;
}

.btn-outline-primary {
  --bs-btn-color: #103d5b;
  --bs-btn-border-color: #103d5b;
  --bs-btn-focus-shadow-rgb: 16,61,91;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #103d5b;
  --bs-btn-hover-border-color: #103d5b;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #103d5b;
  --bs-btn-active-border-color: #103d5b;
  --bs-btn-disabled-color: #103d5b;
  --bs-btn-disabled-bg: transparent;
  --bs-btn-disabled-border-color: #103d5b;
}

.btn-secondary {
  --bs-btn-color: #fff;
  --bs-btn-bg: #0a2738;
  --bs-btn-border-color: #0a2738;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #092130;
  --bs-btn-hover-border-color: #081F2D;
  --bs-btn-focus-shadow-rgb: 218,223,225;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #081F2D;
  --bs-btn-active-border-color: #081D2A;
  --bs-btn-disabled-color: #fff;
  --bs-btn-disabled-bg: #0a2738;
  --bs-btn-disabled-border-color: #0a2738;
}

.btn-outline-secondary {
  --bs-btn-color: #0a2738;
  --bs-btn-border-color: #0a2738;
  --bs-btn-focus-shadow-rgb: 10,39,56;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #0a2738;
  --bs-btn-hover-border-color: #0a2738;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #0a2738;
  --bs-btn-active-border-color: #0a2738;
  --bs-btn-disabled-color: #0a2738;
  --bs-btn-disabled-bg: transparent;
  --bs-btn-disabled-border-color: #0a2738;
}

.btn-light {
  --bs-btn-color: #000000;
  --bs-btn-bg: #3398db;
  --bs-btn-border-color: #3398db;
  --bs-btn-hover-color: #000000;
  --bs-btn-hover-bg: #2B81BA;
  --bs-btn-hover-border-color: #297AAF;
  --bs-btn-focus-shadow-rgb: 8,23,33;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #297AAF;
  --bs-btn-active-border-color: #2672A4;
  --bs-btn-disabled-color: #000000;
  --bs-btn-disabled-bg: #3398db;
  --bs-btn-disabled-border-color: #3398db;
}

.btn-outline-light {
  --bs-btn-color: #3398db;
  --bs-btn-border-color: #3398db;
  --bs-btn-focus-shadow-rgb: 51,152,219;
  --bs-btn-hover-color: #000000;
  --bs-btn-hover-bg: #3398db;
  --bs-btn-hover-border-color: #3398db;
  --bs-btn-active-color: #000000;
  --bs-btn-active-bg: #3398db;
  --bs-btn-active-border-color: #3398db;
  --bs-btn-disabled-color: #3398db;
  --bs-btn-disabled-bg: transparent;
  --bs-btn-disabled-border-color: #3398db;
}

